@CHARSET "ISO-8859-1";



.variantEuropa_Renovatio .country0 { color: #CE7800 ! important; } /* Neutral */
.variantEuropa_Renovatio .country1 { color: #a64448 ! important; } /* Aragon */
.variantEuropa_Renovatio .country2 { color: #a2a2a2 ! important; } /* Austria */
.variantEuropa_Renovatio .country3 { color: #1174c1 ! important; } /* Bavaria  */
.variantEuropa_Renovatio .country4 { color: #a18b28 ! important; } /* Bohemia */
.variantEuropa_Renovatio .country5 { color: #7b5a5a ! important; } /* Brandenburg   */
.variantEuropa_Renovatio .country6 { color: #941e46 ! important; } /* Burgundy  */
.variantEuropa_Renovatio .country7 { color: #c1ab08 ! important; } /* Castille  */
.variantEuropa_Renovatio .country8 { color: #be4646 ! important; } /* Denmark */
.variantEuropa_Renovatio .country9 { color: #c11a0e ! important; } /* England */
.variantEuropa_Renovatio .country10 { color: #1432d2 ! important; } /* France  */
.variantEuropa_Renovatio .country11 { color: #dad738 ! important; } /* Genoa */
.variantEuropa_Renovatio .country12 { color: #c1b37f ! important; } /* Great-Horde   */
.variantEuropa_Renovatio .country13 { color: #98555c ! important; } /* Hungary  */
.variantEuropa_Renovatio .country14 { color: #9a4574 ! important; } /* Lithuania */
.variantEuropa_Renovatio .country15 { color: #7d1e64 ! important; } /* Livonian-Order */
.variantEuropa_Renovatio .country16 { color: #bca65d ! important; } /* Mamluks */
.variantEuropa_Renovatio .country17 { color: #a66c92 ! important; } /* Milan  */
.variantEuropa_Renovatio .country18 { color: #be6e3e ! important; } /* Morocco */
.variantEuropa_Renovatio .country19 { color: #ceb561 ! important; } /* Muscovy   */
.variantEuropa_Renovatio .country20 { color: #643296 ! important; } /* Naples  */
.variantEuropa_Renovatio .country21 { color: #75a5bc ! important; } /* Norway  */
.variantEuropa_Renovatio .country22 { color: #617e25 ! important; } /* Novgorod */
.variantEuropa_Renovatio .country23 { color: #7ecb78 ! important; } /* Ottomans */
.variantEuropa_Renovatio .country24 { color: #a6b56f ! important; } /* Papacy  */
.variantEuropa_Renovatio .country25 { color: #c55c6a ! important; } /* Poland */
.variantEuropa_Renovatio .country26 { color: #328c58 ! important; } /* Portugal   */
.variantEuropa_Renovatio .country27 { color: #467988 ! important; } /* Qara-Qoyunlu  */
.variantEuropa_Renovatio .country28 { color: #f14cdf ! important; } /* Savoy  */
.variantEuropa_Renovatio .country29 { color: #9b93b4 ! important; } /* Saxony */
.variantEuropa_Renovatio .country30 { color: #dab80d ! important; } /* Scotland */
.variantEuropa_Renovatio .country31 { color: #0852a5 ! important; } /* Sweden  */
.variantEuropa_Renovatio .country32 { color: #997a6c ! important; } /* Switzerland */
.variantEuropa_Renovatio .country33 { color: #666968 ! important; } /* Teutonic-Order   */
.variantEuropa_Renovatio .country34 { color: #286e8c ! important; } /* Tlemcen  */
.variantEuropa_Renovatio .country35 { color: #7d7231 ! important; } /* Tunis  */
.variantEuropa_Renovatio .country36 { color: #36a79c ! important; } /* Venice */

.variantEuropa_Renovatio .occupationBar0 { background-color: #CE7800 ! important; } /* Neutral */
.variantEuropa_Renovatio .occupationBar1 { background-color: #a64448 ! important; } /* Aragon */
.variantEuropa_Renovatio .occupationBar2 { background-color: #dcdcdc ! important; } /* Austria */
.variantEuropa_Renovatio .occupationBar3 { background-color: #1174c1 ! important; } /* Bavaria  */
.variantEuropa_Renovatio .occupationBar4 { background-color: #a18b28 ! important; } /* Bohemia */
.variantEuropa_Renovatio .occupationBar5 { background-color: #7b5a5a ! important; } /* Brandenburg   */
.variantEuropa_Renovatio .occupationBar6 { background-color: #941e46 ! important; } /* Burgundy  */
.variantEuropa_Renovatio .occupationBar7 { background-color: #c1ab08 ! important; } /* Castille  */
.variantEuropa_Renovatio .occupationBar8 { background-color: #be4646 ! important; } /* Denmark */
.variantEuropa_Renovatio .occupationBar9 { background-color: #c11a0e ! important; } /* England */
.variantEuropa_Renovatio .occupationBar10 { background-color: #1432d2 ! important; } /* France  */
.variantEuropa_Renovatio .occupationBar11 { background-color: #dad738 ! important; } /* Genoa */
.variantEuropa_Renovatio .occupationBar12 { background-color: #c1b37f ! important; } /* Great-Horde   */
.variantEuropa_Renovatio .occupationBar13 { background-color: #98555c ! important; } /* Hungary  */
.variantEuropa_Renovatio .occupationBar14 { background-color: #9a4574 ! important; } /* Lithuania */
.variantEuropa_Renovatio .occupationBar15 { background-color: #7d1e64 ! important; } /* Livonian-Order */
.variantEuropa_Renovatio .occupationBar16 { background-color: #bca65d ! important; } /* Mamluks */
.variantEuropa_Renovatio .occupationBar17 { background-color: #a66c92 ! important; } /* Milan  */
.variantEuropa_Renovatio .occupationBar18 { background-color: #be6e3e ! important; } /* Morocco */
.variantEuropa_Renovatio .occupationBar19 { background-color: #ceb561 ! important; } /* Muscovy   */
.variantEuropa_Renovatio .occupationBar20 { background-color: #643296 ! important; } /* Naples  */
.variantEuropa_Renovatio .occupationBar21 { background-color: #75a5bc ! important; } /* Norway  */
.variantEuropa_Renovatio .occupationBar22 { background-color: #617e25 ! important; } /* Novgorod */
.variantEuropa_Renovatio .occupationBar23 { background-color: #7ecb78 ! important; } /* Ottomans */
.variantEuropa_Renovatio .occupationBar24 { background-color: #d3dcb2 ! important; } /* Papacy  */
.variantEuropa_Renovatio .occupationBar25 { background-color: #c55c6a ! important; } /* Poland */
.variantEuropa_Renovatio .occupationBar26 { background-color: #328c58 ! important; } /* Portugal   */
.variantEuropa_Renovatio .occupationBar27 { background-color: #467988 ! important; } /* Qara-Qoyunlu  */
.variantEuropa_Renovatio .occupationBar28 { background-color: #ebc4e7 ! important; } /* Savoy  */
.variantEuropa_Renovatio .occupationBar29 { background-color: #9b93b4 ! important; } /* Saxony */
.variantEuropa_Renovatio .occupationBar30 { background-color: #dab80d ! important; } /* Scotland */
.variantEuropa_Renovatio .occupationBar31 { background-color: #0852a5 ! important; } /* Sweden  */
.variantEuropa_Renovatio .occupationBar32 { background-color: #997a6c ! important; } /* Switzerland */
.variantEuropa_Renovatio .occupationBar33 { background-color: #666968 ! important; } /* Teutonic-Order   */
.variantEuropa_Renovatio .occupationBar34 { background-color: #286e8c ! important; } /* Tlemcen  */
.variantEuropa_Renovatio .occupationBar35 { background-color: #7d7231 ! important; } /* Tunis  */
.variantEuropa_Renovatio .occupationBar36 { background-color: #36a79c ! important; } /* Venice */